<div id="notifications-title">
  <%= render FlatPack::PageTitle::Component.new(
    title: "Notifications",
    variant: :h1
  ) do |page_title| %>
    <% if @has_unread_notifications %>
      <% page_title.slot do %>
        <%= link_to "Clear all", clear_all_notifications_path,
                    data: { turbo_method: :patch, turbo_stream: true },
                    class: "text-sm font-medium text-[var(--color-primary)] hover:underline" %>
      <% end %>
    <% end %>
  <% end %>
</div>